.mainClub {
  background-color: rgba(128, 128, 128, 0.829); }
  .mainClub .mainClub__h2 {
    color: #2626f1;
    border: black solid 4px;
    background-color: rgba(255, 255, 0, 0.644); }

.div_h1J {
  font-size: 1.5em; }

.div_h2J {
  font-size: 1.5em; }

.fieldset {
  justify-content: center;
  text-align: center; }

span {
  margin: 50px; }


