.mainClub {
  background-color: rgba(128, 128, 128, 0.829); }
  .mainClub .mainClub__h2 {
    color: #2626f1;
    border: black solid 4px;
    background-color: rgba(255, 255, 0, 0.644); }

.div_h1J {
  font-size: 1.5em; }

.div_h2J {
  font-size: 1.5em; }

.div-Grid {
  display: grid;
  grid-template-areas: "img titulo" "img contenido";
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1 fr 1fr;
  grid-gap: 20px; }

.pnoticias, span {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  grid-area: contenido; }

span {
  margin: 50px; }
