
/*header para todas los html*/
header{
grid-column: 1/4;
grid-row:1;
}
.header_h1{
    color:rgb(143, 147, 150)
}
.header_span{
    color:aliceblue;
}
/*acomodando el logo para el menu del index*/
.header_img{
height: 50px;
position: absolute;
top: 10px;
transition: height 3s;
justify-content: right;
}
.header_img:hover{
    height: 80px;
}
/* Menu que se va a usar en todos los HTML*/
.transitionNav{
    transition: background 3s;
}
.transitionNav:hover{
background: rgb(230, 168, 87);
}
.limenu{
    display: inline;
    left: 10px;
    margin: 5px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ulmenu{
    text-align: end;
font-size: 20px;
}
.amenu{
    text-decoration: none;
    color:aliceblue;
}
/* IMagen de fondo para todas las HTML*/
body{
background-image: url(FondoPagina3.jpg);
background-size: cover;
height: 300px;
background-repeat: no-repeat;
background-attachment: fixed;
}
iframe{
    display:block;
    margin:auto;
    animation-name: aumentar;
    animation-duration: 4s;

}
@keyframes aumentar {
   0% {
    transform: scaleY(0.4);
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
100%{
    transform: scaleY(1);
    transform: scaleY(1);
    transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
}
/* Acomodando las imagenes de SPONSOR*/
.footer_img1{
    width:200px;
}
h2{
    color:aliceblue;
}
.hcolor{
    color:aliceblue;
}
/*Acomodando HTML El Plantel*/
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divJugadores{
    margin: 2px 4px;
    padding: 2px;
    border-radius: 15px;
}
.footer{
grid-column: 1/4;
}
.pfooter{
    color:aliceblue;
}
/* Acomodando HTML de CONTACTO*/
legend{
    color:black;
    background-color: rgb(230, 230, 167);
    font-size: 20px;
    border: orange solid 3px;
}
label{
    color:wheat;
    background-color: black;
}
.div_h1J{
    color:aliceblue;
}
/* Acomodando HTML Noticias */
.h1noticias{
    
    grid-area: h1noticias;
    font-size: 40px;
}
.mainNoticias{
    background-color: aliceblue;
}
.h2noticias{
    color:rgb(38, 38, 241);
    grid-area: titulo;
}
.pnoticias{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    grid-area: contenido;
}
.h2sponsors{
    background-color: blue;
    border: 4px black solid;
}
.ul2{
list-style-type: circle;
}
.sectionNoticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-Grid{
max-width: 1200px;
margin: auto;
}
.imgNoticias{
    grid-area:img;
    height: 75%;
}
.divTres{
    grid-area: divTres;
}
/*Creando grid en el INDEX*/
.grid-index{
    grid-column: 1/2;
    grid-row: 2/3;
}
.section-index{
    grid-column: 3/4;
    grid-row: 2/3;
}
.contenedor{
    display: grid;
    grid-gap: 25px;
    grid-template-columns:4 1fr 1fr 1fr 1fr;
    grid-template-rows: 4 1fr 2fr 1fr 1fr;
}

:root{
    --footerBackgroundColor-gs-footer-one: #1C1C1E;
    --footerPadding-gs-footer-one: 30px;
    --footerHeader-Text-Color: white;
    --footerBody-Text-Color: #737373;
    --footerSocialBackgroundColor-gs-footer-one: #818a91;
    --transition-time-gs-footer-one: 0.3s;
}

*{
    padding: 0;
     margin: 0;
   }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1C1C1E;
}

::-webkit-scrollbar-thumb {
  background: #3c97ff;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d77ca;
}

.gs-footerMainConatiner{
    background-color: var(--footerBackgroundColor-gs-footer-one);
    font-family: 'Inter' !important;
}

.gs-footerMainConatiner .gs-footerDataContainer{
    padding: var(--footerPadding-gs-footer-one);
    height: 100%;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer{
    display: flex;
    justify-content: space-around;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-about-us{
    width: 50%;
    height: 100%;
    padding: 10px;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotLinks{
    width: 25%;
    padding: 10px;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-footHeader{
    font-size: 25px;
    color: var(--footerHeader-Text-Color);
    padding-bottom: 10px;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-footBody{
    color: var(--footerBody-Text-Color);
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-footBody .gs-links-list{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-footBody .gs-links-list li{
    padding: 0px 0px 8px 0px;
    width: max-content;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-footBody .gs-links-list li a{
    cursor: pointer;
    display: block;
    transition: var(--transition-time-gs-footer-one);
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-footBody .gs-links-list li:hover a{
    color: white;
    transform: translate(15px, 1px) scale(125%);
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerHr{
    margin: 20px 0px;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-left{
    width: 50%;
    text-align: left;
    font-size: 18px;
    color: var(--footerBody-Text-Color);
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-left a{
    display: inline-block;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-left a:hover{
    color: white;
    cursor: pointer;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right{
    width: 50%;
    justify-content: right;
    display: flex;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right .gs-social-icon{
    border-radius: 50%;
    background-color: #818a91;
    cursor: pointer;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    position: relative;
    transition: var(--transition-time-gs-footer-one);
    display: block;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right .gs-social-icon svg{
    height: 30px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    fill: black;
}

.gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right .gs-social-icon:hover{
    background-color: white;
  border-radius: 20%;
}

@media screen and (max-width: 2560px) {
    .gs-footerMainConatiner{
        padding: 0px 20%;
    }
}

@media screen and (max-width: 1440px) {
    .gs-footerMainConatiner{
        padding: 0px 10%;
    }
}

@media screen and (max-width: 1024px) {
    .gs-footerMainConatiner{
        padding: 0px 5%;
    }
}

@media screen and (max-width: 768px) {
    .gs-footerMainConatiner{
        padding: 0px 0px;
    }
}

@media screen and (max-width: 520px) {
    .gs-footerMainConatiner{
        padding: 0px 0px;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-about-us{
        width: 100%;
        padding: 0px;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotLinks{
        width: 50%;
        padding: 0px;
        padding-top: 20px;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer{
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-left{
        width: 100%;
        text-align: center;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right{
        width: 100%;
        padding-top: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 300px){
    .gs-footerMainConatiner{
        padding: 0px 0px;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotLinks{
        width: 100%;
        padding: 0px;
        padding-top: 20px;
        text-align: center;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-footBody .gs-links-list li {
        padding: 0px 0px 8px 0px;
        width: 100%;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right .gs-social-icon{
        width: 30px;
        height: 30px;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right .gs-social-icon svg{
        height: 20px;
    }
}

@media screen and (max-width: 230px){
    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right .gs-social-icon{
        width: 25px;
        height: 25px;
    }

    .gs-footerMainConatiner .gs-footerDataContainer .gs-footerInnerContainer .gs-fotter-right .gs-social-icon svg{
        height: 15px;
    }
}
@media screen and (max-width: 400px){
    .grid-index{
        grid-column: 1/3;
        grid-row: 3;
    }
    .section-index{
        grid-column: 1/3;
        grid-row: 2;
    }
}
@media screen and (max-width: 400px){
    .div-Grid{
        grid-template-areas:"img titulo" "img contenido";
    }
}
